body {
  font-family: "ubuntu", serif;
  font-size: 10pt;
  color: #111;
  background: #555;
}

#page_container {
  width: 768px;
  margin: 50 auto;
  background: #FFF;
}

.page_header {
  padding: 10 30 10 30;
  background: #E6EBEB;
}

.page_body {
  padding: 10 30 10 30;
}

.subsection_container {
  padding: 5 0 15 0;
  background: #CCC; /*test code*/
}

.primary_container {
  display: inline-block;
  min-width: 50%;
}

.secondary_container {
  display: inline-block;
  max-width: 50%;
  text-align: right;
  align: right;
  background: #FFFF00;
}

#title_container {
  display: inline-block;
  vertical-align: top;
  min-width: 50%;
}

#contact_info_container {
  display: inline-block;
  vertical-align: top;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}

#title {
  font-weight: 600;
  font-size: 22pt;
  color: #339595;
}

#subtitle {
  font-weight: 500;
  font-size: 14pt;
}

.heading {
  font-weight: 600;
  font-size: 16pt;
  color: #339595;
  padding: 1 0 1 15;
  margin: 0 -15 10 -15;
  background: #E6EBEB;
}

.organization {
  font-weight: 500;
  font-size: 14pt;
  color: #111;
}

.additional {
  font-weight: 600;
  font-size: 12pt;
  color: #111;
}

.role {
  font-weight: 400;
  font-size: 12pt;
  color: #555;
}

#contact_info {
  font-weight: 500;
}

.subsection_container#education {
  display: inline-block;
  vertical-align: top;
  max-width: 30%;
  background: #BBB; /*test code*/
}

.subsection_container#summary {
  display: inline-block;
  vertical-align: top;
  margin-left: 35;
  max-width: 64.63%;                  /*THIS IS NOT THE MOST OPTIMAL WAY OF SOLVING FOR THIS*/
  background: #AAA; /*test code*/
}

.emphasized {
  font-weight: bold;
}
